
.MMM-NOAA .datetime {
   font-size: 18px;
}
.MMM-NOAA .fontClock {
	color:#ffffff;
}
.img.icon {
  width: 6%;
  height: 6%;
 vertical-align:middle;
}
.img.icon2 {
  width: 48%;
  height: 48%;
}
.img.srss{
	 width: 8%;
     height: 8%;
}
.MMM-NOAA .amclock {
	color: #fdfa91;
	padding-top: 8px;
}
.MMM-NOAA .eclock {
	color: #a5dff8;
	padding-top: 8px;
}
.MMM-NOAA .pmclock {
	color: #c7c8cb;
	padding-top: 8px;
}
.MMM-NOAA .humid {
    color: #ff7b7b;
    font-weight: bold;
}
.MMM-NOAA .hitemp {
    color: #ff7b7b;
    font-weight: bold;
}
.MMM-NOAA .lowtemp {
    color: #c4d7e6;
    font-weight: bold;
}
.MMM-NOAA .wFont {
    color: #e2e4e3;
    font-size: 1.6em;
    display: inline-block;
}
.MMM-NOAA .current {
  max-width: 10px;
}
.MMM-NOAA .span {
	padding-left: 4px;
	padding-right: 4px;
	line-height: .6em;  
}
.MMM-NOAA .tdh{
	line-height: 60%;
	display: inline-block;
	line-height: .6em;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
.MMM-NOAA .img{
	display: inline-block;
}
.MMM-NOAA .back {
	background-image: url('images/back.jpg');
	z-index: -1;
	margin-right: 2px;
	margin-left: 2px;
}
