
.MMM-NOAA {
	width: 310px;
	margin-right: 0px;
	margin-left: 0px;
}
.MMM-NOAA .fontClock {
	color:#ffffff;
}
.MMM-NOAA .hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.MMM-NOAA .mappic {
	width: 90%;
	height: 90%;
    margin:15px auto; 
    padding: 1px;
    border-width:5px;  
    border-style:ridge;
}
.MMM-NOAA .box{
	width: 35px;
    height: 16px;
	background:#fff;
	border:#00ff13;
	padding: 4px;
    background: #fff;
    border: 1px solid #dadada;
    color: #000000;
    font-weight: bold;
    text-align: center;
	 border: 1px solid #07c;
    box-shadow: 0 0 10px #07c;
}
.MMM-NOAA .baro{
	width: 45px;
    height: 16px;
	background:#fff;
	border:#00ff13;
	padding: 4px;
    background: #fff;
    border: 1px solid #dadada;
    color: #000000;
    font-weight: bold;
    text-align: center;
	 border: 1px solid #07c;
    box-shadow: 0 0 10px #07c;
}
.MMM-NOAA .red{
	background:#f00;
}
.MMM-NOAA .green{
	background:#0f0;
}
.MMM-NOAA .blue{
	background:#00f;
}
.MMM-NOAA .moonpic {
	width: 60%;
	height: 60%;
    display: block;
    margin: auto;
}
.MMM-NOAA .alert{
	font-size: 20px;
	text-align: center;
	color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}
.MMM-NOAA .alerts{
	font-size: 20px;
	text-align: left;
	color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}
.MMM-NOAA .aler{
	text-align: left;
}
.MMM-NOAA .dayalert{
	font-size: 20px;
	color: #ffff00;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}
.MMM-NOAA .text {
	border-spacing: 10px 0px;
    border-collapse: separate;
    opacity: 1;
}
.MMM-NOAA .icon2 {
  width: 100%;
  height: 100%;
}
.MMM-NOAA .srss{
	 width: 10%;
     height: 10%;
}
.MMM-NOAA .topset {
	width:50%;
    margin-right:10px;
    float:left;
    margin-bottom: -10px;
}
.MMM-NOAA .set {
	width:12%;
    margin-right:10px;
    margin-left: 5px;
    float: left;
    margin-bottom: -10px;
}
.MMM-NOAA .rset {
	width:12%;
    margin-right:10px;
    float: right;
    margin-bottom: -10px;
}
.MMM-NOAA .wdiv{
	width: 80%
}
.MMM-NOAA .set2 {
	float:left;
    margin-right:5px;
}
.MMM-NOAA .amclock {
	color: #fdfa91;
	padding-top: 8px;
}
.MMM-NOAA .eclock {
	color: #a5dff8;
	padding-top: 8px;
}
.MMM-NOAA .pmclock {
	color: #c7c8cb;
	padding-top: 8px;
}
.MMM-NOAA .wFont {
	text-align: center;
    color: #ffffff;
    font-size: 2em;
}
.MMM-NOAA .font {
    color: #97e1cd;
}
.MMM-NOAA .dfont {
	color: #ffff75;
}
.wDiv {
	display: inline-block;
}
.MMM-NOAA .img{
	display: inline-block;
	text-align: center;
}
.MMM-NOAA .fa-calendar {
  color: #ffffff;
  font-size: .5em;
}
.MMM-NOAA .wi-thermometer {
  color: #ff0000;
  font-size: .5em;
  text-align:center;
   margin-left: 10px;
  margin-right: 10px;
}
.MMM-NOAA .wi-umbrella {
  color: #b1bfc0;
  font-size: .5em;
  text-align:center;
  margin-left: 10px;
  margin-right: 10px;
}
.MMM-NOAA .wi-thermometer-exterior {
  color: #92bff8;
  font-size: .5em;
  text-align:center;
   margin-left: 10px;
  margin-right: 10px;
}
.MMM-NOAA .wi-humidity {
  color: #ffffff;
  font-size: .5em;
  text-align:center;
   margin-left: 10px;
  margin-right: 10px;
}
.MMM-NOAA .wi-snowflake-cold {
  color: #ffffff;
  font-size: .9em;
  text-align:center;
   margin-left: 10px;
  margin-right: 10px;
}
.MMM-NOAA-blur {
    -webkit-filter: blur(2px) brightness(50%);
}
.MMM-NOAA .pulse {
	width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
      box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
