.MMM-NOAA {
     width: 200px;
}
 .MMM-NOAA .table td{
     text-align:center;
     table-layout:fixed;
}
 .MMM-NOAA tr {
     height: 29px;
	 text-align:center;
     table-layout:fixed;
}
 .MMM-NOAA th {
     line-height: 20%;
     padding-top: 9px;
}
.MMM-NOAA .blink_tr {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {  
  60% { opacity: 0; }
}
 .MMM-NOAA .wheading {
     background-color: #b97e11;
     text-align:center;
     color: rgba(0,0,0,0.6);
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
.MMM-NOAA .img {
	width: 70px;
	height: 70px;
	align-content: center;
}
 .MMM-NOAA .Forecasttable {
     float: left;
     clear: left;
     display: inline;
     margin-left: auto;
     margin-right:auto;
     text-align: center;
}
 .MMM-NOAA .forehead {
     background-color: #868c88;
     text-align:center;
     color: rgba(0,0,0,0.6);
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
 .MMM-NOAA .rheading {
     background-color: #868c88;
     text-align:center;
     color: rgba(0,0,0,0.6);
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
 .MMM-NOAA .font {
     font-size: 23px;
}
.MMM-NOAA .fontac {
     color:#e4ab5f 
}
.MMM-NOAA .fontss{
     color: #e0e29a;
}
.MMM-NOAA .fontauw{
     color:#51c7ca 
}
.MMM-NOAA .fontfor {
     color: #000;
}
.MMM-NOAA .IMG {
	width: 25px;
	height: 24px;
}
 .MMM-NOAA .xxsmall {
     font-size: 12px;
     color:#a4c6c5;
     margin: 10px;
}
.MMM-NOAA .tempf {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}